
{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}




{% block main %}


<main>
    <section>
    <div><a href="{{ path('admin_article_form') }}">créer un article</a></div>
    </section>

    <section>

        {# app est une variable globale définie dans twig
            Elle est dispo dans tous les fichiers twig
            et contient des informations un peu générales : les messages flashs, les infos
            de l'utilisateur connecté (si y'en a un) etc
        #}
        {% for message in app.flashes('success') %}
            <p>{{ message }}</p>
        {% endfor %}



        {#  le premier c'est la variable de twig in nom de la variable du controleur #}

        {% for article in articles %}
            {# je fais le lien vers la page article #}
            <div class="container" ><a href="{{ path('article_show', {'id': article.id}) }}">
                    <img src="{{ article.image }}" alt="image" class="img"/></a>
                <p>{{ article.title }} </p><br />
                <a href="{{ path('article_show', {'id': article.id}) }}"><p>{{ article.content }}</p></a>
                {# j'affiche la date de création et publiée en ajoutant le filtre qui affiche correctmt la date  #}
                <p>{{ article.datecreated|date("m/d/Y") }}</p>
                <p>{{ article.datepublished|date("m/d/Y") }}</p>
                <br /><br />
                {# PATH est une fonction #}{#  Je créer le lien qui va modifier un article de la liste via son id #}
                <a href="{{ path('admin_article_update', {'id': article.id}) }}">
                    <div>> modifier cet article</div></a><br />

                {#  Je créer le lien qui va supprimer un article de la liste via son id #}
                <a href="{{ path('admin_article_delete', {'id': article.id}) }}">
                    <div>> supprimer cet article !</div></a><br />

                {#  Je créer le lien qui va recréer un article  #}
                <a href="{{ path('admin_article_form') }}">
                    <div>> créer un nouvel article</div></a>
            </div>
        {% endfor %}




    </section>
</main>
{% endblock main %}
