{% extends 'base.html.twig' %}


{% block title %}Les Articles{% endblock %}



{% block main %}

<main>


    <section>
    {# j'utilise la fonction Twig form pour afficher mon formulaire  #}
    {#  avec en parametre la variable de formulaire #}
    {#  le gabarit et les données du formulaire qui execute dans twig  #}

        <br />
        {{ form_start(formView) }}

        <div class=""><h1>Créer un nouvel Article</h1></div>

        <div class="form">


            {{ form_label(formView.title) }}
            {{ form_widget(formView.title, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.title) }}


            {{ form_label(formView.content) }}
            {{ form_widget(formView.content, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.content) }}


            {{ form_label(formView.image) }}
            {{ form_widget(formView.image, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.image) }}


            {{ form_label(formView.datePublished) }}
            {{ form_widget(formView.datePublished, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.datePublished) }}


            {{ form_label(formView.dateCreated) }}
            {{ form_widget(formView.dateCreated, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.dateCreated) }}


            {{ form_label(formView.published) }}
            {{ form_widget(formView.published, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.published) }}

            {{ form_label(formView.category) }}
            {{ form_widget(formView.category, {'attr': {'class': 'margin'}}) }}
            {{ form_errors(formView.category) }}


            {{ form_widget(formView.Envoyer) }}

        </div>

        {{ form_end(formView) }}

    </section>

</main>

{% endblock main %}


