<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Super page !" />
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css' ) }}" >


    <title>{% block title %}super{% endblock title %}</title>
</head>
<body>
{# création du header avec les liens vers les pages #}
<header>

    <header>
        <div>
            <div id="logo"><a href="{{ path('article_list') }}">
                    <img src="{{ asset('assets/img/chimpanz-logo.jpg') }}" alt="logo" class="img"/></a></div>
            <div id="nav">
                <ul>
                    <a href="{{ path('article_list') }}"><li>Les Articles</li></a>
                    <a href="{{ path('category_list') }}"><li>Les Catégories</li></a>
                    <a href="{{ path('admin_article_list') }}"><li>Administration Articles</li></a>
                    <a href="{{ path('admin_category_list') }}"><li>Administration Catégories</li></a>
                </ul>
            </div>
        </div>

        <div><a href="{{ path('app_logout') }}">Deconnexion</a></div>



        {% for message in app.flashes('success') %}
            <p>{{ message }}</p>
        {% endfor %}

    </header>




</header>

{% block main %} {% endblock %}


<footer>

    <div>Les cours avec David c'est de la boulette ! =)</div>

</footer>
</body>
</html>
